/* main stuff */
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url("/img/tiledbg.png");
    background-repeat: repeat;
    color: #FFFFFF;
    font-family: 'pinkchicken';
    font-size: 28px;
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.font_pink-chicken {
	font-family: 'pinkchicken';
}
.font_sf-cartoonisthand {
	font-family: 'sf-cartoonisthand';
}
.font_nextsunday {
	font-family: 'nextsunday';
}

code {
	background-color: #000000;
	border: 2px solid #555555;
	font-size: 26px;
}

/* classes */

.main {
    position: relative;
    padding-top: 15vh;
    width: 100%;
    min-height: 100vh;
}

.side-border {
	width:16.5vh;
	height:100%;
}

.left-border {
    background-image: url("/img/borderl.png");
    background-repeat: repeat-y;
    background-size:100% auto;
}
.right-border {
    background-image: url("/img/borderr.png");
    background-repeat: repeat-y;
    background-size:100% auto;
}
.on-top {
    position: fixed;
    z-index: 99;
}
.align-left {
    margin: 0;
    text-align: left;
}
.align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.align-center-translate {
	position: absolute;
	left: 50%;
	transform: translateX(-50%); 
	text-align: center;
}
.align-right {
    right: 0;
    text-align: right;
}

.toptitle-big {
	width:600px;
	margin-bottom:64px;
}
.toptitle-small {
	width:400px;
	margin-bottom:64px;
}

.bottom {
    margin-top: 10%;
    bottom: 0;
    display: inline-block;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: #000000;
    text-align: center;
    height: 9.5vh;
	white-space: nowrap;
}
.header a {
    background-repeat: no-repeat;
    text-decoration: none;
    display:inline-block;
	height: 100%;
}

#header1 {
	width: 21vh;
	background-size: 100% auto;
}
.not-logo {
	width: 9vh;
	background-size: 100% auto;
}

/* tags */

#header1 {
    background-image: url("/img/header/header_logo.png");
}
#header2 {
    background-image: url("/img/header/header_news.png");
}
#header3 {
    background-image: url("/img/header/header_comics.png");
}
#header4 {
    background-image: url("/img/header/header_games.png");
}
#header5 {
    background-image: url("/img/header/header_trivia.png");
}
#header6 {
    background-image: url("/img/header/header_funny.png");
}
#header7 {
    background-image: url("/img/header/header_misc.png");
}
#header1:hover {
    background-image: url("/img/header/header_logo_hover.png");
}
#header2:hover {
    background-image: url("/img/header/header_news_hover.png");
}
#header3:hover {
    background-image: url("/img/header/header_comics_hover.png");
}
#header4:hover {
    background-image: url("/img/header/header_games_hover.png");
}
#header5:hover {
    background-image: url("/img/header/header_trivia_hover.png");
}
#header6:hover {
    background-image: url("/img/header/header_funny_hover.png");
}
#header7:hover {
    background-image: url("/img/header/header_misc_hover.png");
}

.dropdown-content a:hover {background-color: #FFFFFF;color: #000000;}

.show {display:block;}

.swacktalk {
	position: relative;
	text-align: center;
	width: 790px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
.swacktalk img {
	height: 100%;
}

.swacktext {
	text-align: left;
	position: absolute;
	font-size: 28px;
	width: 80%;
	top: 24%;
	left: 12%;
}
.swacktext p {
	color: #ffffff;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
	white-space: nowrap;
}
#swacktalk_huge {
	font-size: 50px;
	white-space: nowrap;
}

.comicdesc {
	color: #ffffff;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

/* description images */
.desc_ {
	width: 620px;
	position: relative;
}
._comicdesc {
	width: 740px;
}

.descimage {
	z-index: -1;
	position: absolute;
}

#rbdcomics_1 {
	width: 50%;
	left: -36%;
	top: 20%;
}
#rbdcomics_2 {
	width: 45%;
	right: -30%;
}
#rbdcomics_3 {
	width: 40%;
	right: -32%;
	top: 50%;
}

#dhcomics_1 {
	width: 50%;
	left: -34%;
	top: -78%;
}
#dhcomics_2 {
	width: 42%;
	right: -30%;
	top: -50%;
}

#wizcomics_1 {
	width: 43%;
	left: -32%;
	top: -5%;
}
#wizcomics_2 {
	width: 47%;
	right: -36%;
	top: 5%;
}

#jimcomics_1 {
	width: 40%;
	left: -36%;
}
#jimcomics_2 {
	width: 47%;
	right: -40%;
	top: -30%;
}

#vgcomics_1 {
	width: 55%;
	left: -35%;
}
#vgcomics_2 {
	width: 40%;
	right: -25%;
	top: -30%;
	z-index: -2;
}
#vgcomics_3 {
	width: 40%;
	right: -40%;
	top: 30%;
}

/* comic frames (new)*/
.comicborder {
	margin-left: auto;
	margin-right: auto;
	width: 850px;
	background-color: rgba(0,0,0,0.6);
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 32px;
	position: relative;
}

.comicborder hr {
	background-color: #ff0d76;
	height: 6px;
	border: 0;
	width: 75%;
}
.pinkborder {
	border: 6px solid #ff0d76;
}
.greenborder {
	border: 6px solid #73ff00;
}
.new_comicgrid {
	display: flex;
	flex-direction: row-gap;
	justify-content: center;
}

.new_comicbox {
	display: inline-block;
	min-width: 270px;
	max-width: 270px;
}

.new_comicbox p {
	font-size: 28px;
}
.new_comicbox_mobile {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.new_comicbox_mobile p {
	font-size: 90px;
}
#new_comicbottom_mobile {
	margin-bottom: 56px;
}
#new_comictop {
	min-height: 78px;
	display: grid;
    align-items: center;
}
.new_comicframe {
	position:relative;
	width: 85%;
	aspect-ratio: 1 / 1;
}
#new_comicimg {
	position: static;
	width: 73%;
	aspect-ratio: 1 / 1;
	background-size: 100% 100%;
	margin-top: 12%;
}
#new_new {
	position: absolute; 
	width: 100%;
	margin-left: -12%;
	aspect-ratio: 1 / 1;
	background-size: 100% 100%;
}
#new_frameregular {
	background-image: url("/img/comicframe.png");
	background-size: 100% 100%;
}
#new_frameregular:hover {
	background-image: url("/img/comicframe-on.png");
}
#new_framerecent {
	background-image: url("/img/comicframenew.png");
	background-size: 100% 100%;
}
#new_framerecent:hover {
	background-image: url("/img/comicframenew-on.png");
}

#recent_img1 {
	width: 30%;
	left: -8%;
	top: -4%;
	position: absolute;
}
#recent_img2 {
	width: 30%;
	right: -10%;
	top: 19%;
	position: absolute;
}

.mobiletable {
    display: none;
}

/* comics */

#curcomic {
    display: none;
}

.comicdiv {
    display: flex;
    flex-direction: column;
    width: 640px;
    overflow: auto;
}
.comicdiv a {
	margin: 0;
	padding: 0;
	display: block;
}
.comicdiv img {
    width: 100%;
    height: 100%;
    min-width: 50%;
	margin: 0;
	padding: 0;
	display: block;
}

.timelapsediv {
	background-color: #000000;
	padding: 2px;
	margin-top: 12px;
	margin-bottom: 12px;
	width: 560px;
	aspect-ratio: 16/9;
}
.timelapsediv iframe {
	width: 100%;
	height: 100%;
}

.funnyimg {
	width: 400px;
}

/* trivia css */
.trivia-grid {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.trivia-grid div {
    width:100%;
    height:180px;
}
#triviaback {
	width:500px;
	height:180px;
    background-image: url("/img/triviaframe.png");
    background-size: 100% 100%;
	position: relative;
}
.trivia-grid table {
    margin-left: auto;
    margin-right: auto;
}
.trivia-grid tr {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.trivia-grid p {
    position: absolute;
    font-size: 24px;
    text-align: left;
    width: 88%;
    height: 100%;
    top: 32%;
    left: 6%;
}
.pc-trivia {
	display: flex;
}
.mobile-trivia {
	display: none;
}

.yellow-border {
	border: 5px solid #ffb812;
}

/* news css */
.mobilenews {
	display: none;
}

.news-container {
	position: relative;
	margin: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	text-align: left;
	min-height: 32px;
	background-color: rgba(0,0,0,.6);
	margin-left: auto;
	margin-right: auto;
}
.news-container a {
	color: #ffb812;
	text-decoration: underline;
}
.link {
	color: #ffb812;
	text-decoration: underline;
}
.news-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	padding: 12px;
}

.news-container .big-text {
	color: #ffb812;
	font-size: 40px;
}
.news-container .medium-text {
	font-size: 28px;
}
.news-container .small-text {
	color: #bf1123;
	font-size: 24px;
}

#news-full {
	width: 820px;
}
#news-preview {
	width: 600px;
}
#newslink {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

#newsdate {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
}

#newsback_link {
	display:block;
	width: 360px;
	height: 140px;
	margin-left: auto;
	margin-right: auto;
}

#newsback {
	width: 100%;
	height: 100%;
	background-image: url("img/back.png");
	background-size: 100% 100%;
	margin-left: auto;
	margin-right: auto;
}
#newsback:hover {
	background-image: url("img/back-on.png");
}

/* socials */
.email-box {
	background-color: rgba(0,0,0,0.6);
	width:410px;
	height:100px;
	margin-top: 16px;
}

.social {
	height: 96px;
	background-size: 96px 96px;
	flex-basis: 96px;
}

#social1 {
	background-image: url("/img/social/social_yt.png");
}
#social1:hover {
	background-image: url("/img/social/social_yt_hover.png");
}
#social2 {
	background-image: url("/img/social/social_itch.png");
}
#social2:hover {
	background-image: url("/img/social/social_itch_hover.png");
}
#social3 {
	background-image: url("/img/social/social_bsky.png");
}
#social3:hover {
	background-image: url("/img/social/social_bsky_hover.png");
}
#social4 {
	background-image: url("/img/social/social_ng.png");
}
#social4:hover {
	background-image: url("/img/social/social_ng_hover.png");
}

/* games */
.gamerow {
	display: flex;
	flex-direction: row-gap;
	justify-content: center;
}

.gamediv {
	display: inline-block;
	min-width: 420px;
	max-width: 420px;
	aspect-ratio: 16 / 9;
	background-color: #000000;
	padding: 0;
	border: 5px solid #ffb812;
	margin: 5px;
	position: relative;
}

#gamediv_title {
	font-size: 24px;
	color: #FFFFFF;
	text-align: left;
}
#gamediv_desc {
	font-size: 24px;
	color: #FFFFFF;
	text-align: left;
}

.gamediv a {
	text-decoration: none;
}
.gamediv img {
	width: 100%;
	
	aspect-ratio: 16 / 9;
}
.gamediv:hover {
	border-color: #6b0c17;
}

.showdesc {
	display: none;
	width: 100%;
	left: -1%;
	background-color: #000000;
	position: absolute;
	z-index: 1;
	border-color: #6b0c17;
}
.gamediv:hover .showdesc{
	display: block;
}

#construct-div {
	position: relative;
	left: -30px;
	width: 700px;
}
#construct {
	width: 70%;
	margin-top: 32px;
	background-color: rgba(0,0,0,0.6);
}

.swack {
	display: block;
	width: 160px;
	cursor: pointer;
}

/* download popup */
#comics_download {
	position: relative;
	width: 300px;
	aspect-ratio: 12/3;
	background-image: url("/img/download/download.png");
	background-size: 100% 100%;
	cursor: pointer;
	margin-bottom: 32px;
	left: -20px;
}
#comics_download:hover {
	background-image: url("/img/download/download-on.png");
}
#downloadinfo_comic {
	position: absolute;
	font-size: 20px;
	transform: translateX(-50%);
	top: 100%;
}

#download-top {
	width: 40%;
}

#download-popup {
	display: none;
	position: fixed;
	z-index: 128;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.65);
}

.popup-element {
	font-size: 2.8vh;
	display: block;
}

.popup-btn {
	width: 50%;
}

#popup-btns {
	width: auto;
	height: 3vh;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 2;
}
#pop-btnleft {
	content:url("/img/arrowleft.png");
}
#pop-btnright {
	content:url("/img/arrowright.png");
}
#pop-btnleft:hover {
	content:url("/img/arrowleft-on.png");
}
#pop-btnright:hover {
	content:url("/img/arrowright-on.png");
}

#download-box {
	min-width: 65vh;
	width: 80vh;
	min-height: 35%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.8vh solid #ffb812;
	background-color: rgba(0,0,0,0.85);
}

#download1 {
	position: absolute;
	z-index: 126;
	width: 22%;
	left: -3%;
	top: 5vh;
}
#download2 {
	position: absolute;
	z-index: 126;
	width: 22%;
	right: -4%;
	bottom: -45vh;
}


#download-fla {
	width: 100%;
	content:url("/img/download/fla.png");
}
#download-fla:hover {
	content:url("/img/download/fla-on.png");
}

#download-pdf {
	width: 100%;
	content:url("/img/download/pdf.png");
}
#download-pdf:hover {
	content:url("/img/download/pdf-on.png");
}

#download-ttf {
	width: 100%;
	content:url("/img/download/ttf.png");
}
#download-ttf:hover {
	content:url("/img/download/ttf-on.png");
}

#download-back {
	width: 38vh;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translateX(-50%);
	content:url("/img/back.png");
	cursor: pointer;
}
#download-back:hover {
	content:url("/img/back-on.png");
}

/* comic prev/next */
.comic_prevnext_div {
	display: inline-block;
	position: relative;
	width: 270px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 48px;
	cursor: pointer;
}

.comic_prevnext_title {
	font-size: 24px;
	display: grid;
	align-items: center;
	white-space: normal;
	min-height: 23%;
}

.comic_prevnext_button {
	position: absolute;
	width: 50%;
	top: 55%;
	transform: translate(-50%,-50%);
}
#comic_prev {
	left: -30%;
}
#comic_next {
	right: -82%;
}

.comic_prevnext_top {
	width: 90%;
}
.comic_prevnext_frame {
	background-color: #000000;
	width: 100%;
	aspect-ratio: 1/1;
	border: 5px solid #ffb812;
}
#comic_prevnext_image {
	width: 95%;
	aspect-ratio: 1/1;
}

.comic_prevnext_div:hover .comic_prevnext_frame {
	border-color: #6b0c17;
}
.comic_prevnext_div:hover #comic_prevtop {
	content: url("/img/prevcomic-on.png");
}
.comic_prevnext_div:hover #comic_nexttop {
	content: url("/img/nextcomic-on.png");
}
.comic_prevnext_div:hover #comic_prev {
	content: url("/img/arrowleft-on.png");
}
.comic_prevnext_div:hover #comic_next {
	content: url("/img/arrowright-on.png");
}

/* all episodes */
#allepisodes {
	width: 640px;
	background-color: #000000;
	padding: 4px;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
	border: 12px solid #000000;
}

#allepisodes a {
	text-decoration: none;
	color: #ffffff;
}

.listcomicframe {
	display: inline-block;
	width: 220px;
	height: auto;
}

.listcomicframe img{
	width: 100%;
	aspect-ratio: 1/1;
}

.listcomicframe p {
	font-size: 20px;
	display: grid;
	align-items: center;
	white-space: normal;
	min-height: 23%;
}

.other-episode img {
	filter: brightness(35%);
}
.other-episode img:hover {
	filter: brightness(100%);
}

/* scrollbar */
#allepisodes::-webkit-scrollbar {
  height: 10px;
}

#allepisodes::-webkit-scrollbar-track {
  background: #000000; 
}
 
#allepisodes::-webkit-scrollbar-thumb {
  background: #fff312; 
}

#allepisodes::-webkit-scrollbar-thumb:hover {
  background: #472602; 
}

/* art grid */
#artgrid {
	margin-left: auto;
	margin-right: auto;
	padding: 12px;
	width: 950px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 250px);
    grid-row-gap: .1em;
    grid-column-gap: 1em;
	background-color: rgba(0,0,0,0.6);
}

#artgrid div {
	border: 3px solid #6b0c17;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 70%;
	max-width: 210px;
	cursor: pointer;
}
#artgrid div img {
	height: 100%;
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}
#artgrid div:hover {
	border-color: #ffb812;
}

#artshow_full {
	width: auto;
	height: 45vh;
	cursor: pointer;
}

.artshow_newest {
	display: block;
}
.artshow_oldest {
	display: none;
}

#artshow_date {
	font-size: 5vh;
}
#artshow_desc {
	font-size: 5vh;
}

.funfact-container {
	margin-bottom: 25px;
	background-color: rgba(0,0,0,0.6);
	width: 680px;
}
.funfact-container p {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.funfact-container img {
	padding: 12px;
	padding-bottom: 0px;
	height: 320px;
}

#misc div {
	width: 450px;
	margin-top: 32px;
	margin-bottom: 32px;
	height: 260px;
}

#misc_art {
	transform: translateX(-50%);
	width: auto;
	height: 100%;
	position: absolute;
	cursor: pointer;
	content:url("/img/misc_butn1_off.png");
	
}
#misc_art:hover {
	content:url("/img/misc_butn1_on.png");
}
#misc_redbidd {
	transform: translateX(-50%); 
	width: auto;
	height: 100%;
	position: absolute;
	cursor: pointer;
	content:url("/img/misc_butn2_off.png");
}
#misc_redbidd:hover {
	content:url("/img/misc_butn2_on.png");
}
#misc_fanart {
	transform: translateX(-50%); 
	width: auto;
	height: 80%;
	position: absolute;
	cursor: pointer;
	content:url("/img/misc_butn4_off.png");
}
#misc_fanart:hover {
	content:url("/img/misc_butn4_on.png");
}
#misc_contact {
	transform: translateX(-50%); 
	width: auto;
	height: 70%;
	position: absolute;
	cursor: pointer;
	content:url("/img/misc_butn3_off.png");
}
#misc_contact:hover {
	content:url("/img/misc_butn3_on.png");
}

/* text types */

.big-text {
    font-size: 60px;
}
.almost-big-text {
    font-size: 45px;
}
.medium-text {
    font-size: 30px;
}
.download-text {
    font-size: 24px;
}
.small-text {
    font-size: 15px;
}

.yellow-text {
	color: #ffb812;
}

/* mouse position follower */
#mousediv {
	display: none;
	position: fixed;
	transition: transform 0.01s;
	pointer-events: none;
	z-index: 100;
}
#hovertext {
	font-size: 4vh;
}

/* mobile/width stuff */

.pcelement {
	display: block;
}
.mobileelement {
	display: none;
}

@media only screen and (max-width: 1260px) {
	.main {
		width: 100%
	}
    .left-border {
        display: none;
    }
    .right-border {
        display: none;
    }
}

@media only screen and (max-width: 1080px) {
    .dropdown-content {
        left: 230px;
    }
}

@media only screen and (max-width: 870px) {
    .dropdown-content {
        left: 170px;
    }
}

@media only screen and (max-width: 660px) {
    .dropdown-content {
        left: 130px;
    }
}

@media only screen and (hover: none) and (pointer: coarse){
	.pcelement {
		display: none;
	}
	.mobileelement {
		display: block;
	}
	
    body {
		width: 100vw;
		font-size: 48px;
	}
	.left-border {
        display: none;
    }
    .right-border {
        display: none;
    }
	
    .dropdown-content {
        left: 130px;
    }

	.toptitle-big {
		width: 60%;
		margin-bottom:20px;
	}
	.toptitle-small {
		width: 60%;
		margin-bottom:0px;
	}

    .bottom p {
        font-size: 40px;
    }

	.swacktalk {
		width: 100%;
		height: auto;
	}
	.swacktext {
		left: 13%;
		width: 70%;
		font-size: 34px;
	}
	#swacktalk_huge {
		font-size: 60px;
	}
	.swacktext p {
		color: #000000;
		text-shadow: none;
	}

    .pctable {
        display: none;
    }
    .mobiletable {
        display: block;
    }
    .grid div{
        margin-left: auto;
        margin-right: auto;
    }
    .recent div{
        margin-left: auto;
        margin-right: auto;
    }
    .grid p {
        font-size: 42px;
    }
    .grid div{
        width:50vw;
        height:50vw;
        background-size: 50vw 50vw;
    }
    .recent p {
        padding-top: 4%;
        font-size: 42px;
    }
    .recent div{
        width:50vw;
        height:50vw;
        background-size: 50vw 50vw;
    }
    #new {
        background-size: 50vw 50vw;
    }
    #pbottom{
        margin-top:-4%;
    }
    .dropdown-content a {
        font-size: 2vw;
    }
    .main {
        width:100%;
		padding-top: 160px;
    }
    .comicdiv {
        width: 540px;
    }
    .download a {
        text-align: left;
    }
    .pcdownload {
        display: none;
    }
    .mobiledownload {
        width: 800px;
        display: block;
        margin-top: 76px;
        margin-bottom: 70px;
    }
    .download a {
        background-size: 500px auto;
        height: 100px;
        width: 500px;
    }
	.desc_ {
		width: 90vw;
	}
	._comicdesc {
		width: 90vw;
	}
	
	.funnyimg {
		width: 90%;
	}
	
    .trivia-grid p {
        font-size: 36px;
    }
    .trivia-grid div{
        width:800px;
        height:300px;
    }
	#triviaback{
        width:800px;
        height:300px;
        background-size: 100% 100%;
    }
	
	.pc-trivia {
		display: none;
	}
	.mobile-trivia {
		display: inline-block;
	}
	
    .header {
      height: 105px;
    }
    .not-logo {
      width: 105px;
      height: auto;
    }
	#header1 {
		width: 210px;
	}
	
    .dropdown-content {
        width: 70%;
        height: 300px;
    }
    .dropdown-content a {
        width: 100%;
        height: 70px;
        font-size: 40px;
    }
    .comicdiv {
        width: 100%;
    }
    .big-text {
        font-size: 90px;
    }
	.almost-big-text {
		font-size: 70px;
	}
    .medium-text {
        font-size: 60px;
    }
    .small-text {
        font-size: 50px;
    }
	.download-text {
		font-size: 42px;
	}
	
	#swacktalk {
		width: 100%;
		min-width: 100%;
	}
	
	.pcnews {
		display: none;
	}
	.mobilenews {
		display: block;
	}
	
	.news-container{
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 12px;
	}
	
	.news-container p {
        font-size: 70px;
    }
	.news-container code {
        font-size: 70px;
    }
	.news-container .big-text {
        font-size: 70px;
    }
	.news-container .small-text {
        font-size: 60px;
    }

	
	#news-preview {
		width: 90%;
	}
	#newslink {
		width: 90%;
	}
	
	#news-full {
		width: 100%;
	}
	
	#newstitle {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
	.news-container img {
		padding: 8px;
		width: 96%;
		min-width: 96%;
	}
	
	#newsdate {
		display: none;
	}
	
	#newsback_link {
		width: 550px;
		height: 220px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.email-box {
		width:80%;
		height:140px;
	}
	
	.email-box img {
		width:130px;
		height:130px;
	}
	
	.social {
		height: 150px;
		background-size: 150px 150px;
		flex-basis: 150px;
	}
	
	.gamediv {
		min-width: 85%;
		max-width: 85%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5%;
	}
	
	#gamediv_title {
		font-size: 72px;
	}
	
	.showdesc {
		display: block;
		position: static;
		margin-left: -1%;
	}
	#gamediv_desc {
		font-size: 42px;
	}
	
	#construct {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.swack {
		width: 46%;
	}
	
	#comics_download {
		width: 65%;
		left: -35px;
		margin-bottom: 100px;
	}
	#downloadinfo_comic {
		font-size: 42px;
	}
	#download-box {
		min-width: 90%;
		width: 90%;
	}
	.popup-element {
		font-size: 3.2vh;
		display: block;
	}
	.popup-btn {
		width: 85%;
	}
	#download-popup {
		width: 102vw;
		height: 102vh;
	}
	#download-top {
		width: 80%;
	}
	#download-back {
		top: 86%;
		width: 40%;
	}
	
	.comic_prevnext_div {
		display: inline-block;
		position: relative;
		width: 45%;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 48px;
		cursor: pointer;
	}
	.comic_prevnext_title {
		font-size: 48px;
		display: grid;
		align-items: center;
		white-space: normal;
		min-height: 27%;
	}
	.comic_prevnext_button {
		display: none;
	}


	#allepisodes {
		width: 95%;
	}
	.listcomicframe {
		width: 420px;
	}
	.listcomicframe p {
		font-size: 42px;
	}
	.yellow-border {
		border-width: 12px;
	}
	#allepisodes::-webkit-scrollbar {
	  height: 52px;
	}
	
	#artgrid {
		width: 950px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fill, 500px);
	}

	#artgrid div {
		max-width: 710px;
	
	}
	
	#artshow_full {
		width: 70vw;
		height: auto;
	}
	
	#artshow_date {
		font-size: 3.6vh;
	}
	#artshow_desc {
		font-size: 3.6vh;
	}
	
	.funfact-container {
		width: 95%;
	}
	.funfact-container p {
		width: 90%;
	}
	.funfact-container img {
		height: 440px;
	}
	
	.timelapsediv {
		width: 90%;
		aspect-ratio: 16/9;
	}
	.timelapsediv iframe {
		width: 100%;
		height: 100%;
	}
	
	#404 {
		width: 90%;
		max-width: 90%;
	}
}

/* font */

@font-face {
    font-family: 'pinkchicken';
    src: url('./font/PinkChicken-Regular.ttf')  format('truetype');
    src: url('./font/PinkChicken-Regular.woff') format('woff');
}

@font-face {
    font-family: 'sf-cartoonisthand';
    src: url('./font/SFCartoonistHand.ttf')  format('truetype');
    src: url('./font/SFCartoonistHand.woff') format('woff');
}

@font-face {
    font-family: 'nextsunday';
    src: url('./font/Next Sunday.ttf')  format('truetype');
    src: url('./font/Next Sunday.woff') format('woff');
}