/* main stuff */
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    background-image: url("/img/tiledbg.png");
    background-repeat: repeat;
    color: #FFFFFF;
    font-family: 'pinkchicken';
    font-size: 28px;
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* classes */

.main {
    position: relative;
    padding-top: 120px;
    width: 60%;
    min-height: 100vh;
}

.left-border {
    background-image: url("/img/borderl.png");
    background-repeat: repeat-y;
    background-size:auto;
}
.right-border {
    background-image: url("/img/borderr.png");
    background-repeat: repeat-y;
    background-size:auto;
}
.on-top {
    position: fixed;
    z-index: 99;
}
.align-left {
    margin: 0;
    text-align: left;
}
.align-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.align-right {
    right: 0;
    text-align: right;
}

.toptitle-big {
	width:600px;
	margin-bottom:64px;
}
.toptitle-small {
	width:400px;
	margin-bottom:64px;
}

.bottom {
    margin-top: 10%;
    bottom: 0;
    display: inline-block;
}

.header {
    background-color: #000000;
    text-align: center;
    padding-right: 5px;
    height: 75px;
}
.header a {
    background-repeat: no-repeat;
    padding-right: 5px;
    text-decoration: none;
    display:inline-block;
	height: 100%;
}

#header1 {
	width: 155px;
	background-size: 100% auto;
}
.not-logo {
	width: 70px;
	background-size: 100% auto;
}

/* tags */

#header1 {
    background-image: url("/img/header/header_logo.png");
}
#header2 {
    background-image: url("/img/header/header_news.png");
}
#header3 {
    background-image: url("/img/header/header_comics.png");
}
#header4 {
    background-image: url("/img/header/header_trivia.png");
}
#header5 {
    background-image: url("/img/header/header_funny.png");
}
#header6 {
    background-image: url("/img/header/header_contact.png");
}
#header1:hover {
    background-image: url("/img/header/header_logo_hover.png");
}
#header2:hover {
    background-image: url("/img/header/header_news_hover.png");
}
#header3:hover {
    background-image: url("/img/header/header_comics_hover.png");
}
#header4:hover {
    background-image: url("/img/header/header_trivia_hover.png");
}
#header5:hover {
    background-image: url("/img/header/header_funny_hover.png");
}
#header6:hover {
    background-image: url("/img/header/header_contact_hover.png");
}

/* dropdown */

.dropdown-content {
    margin-top: -30px;
    padding: 5px 5px;
    position: fixed;
    background-color: #000000;
    left: 440px;
    z-index: 1;
}

.dropdown-content a {
    font-family: 'pinkchicken';
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    z-index: 2;
    width: 100%;
    height: 50%;
}

.dropdown-content a:hover {background-color: #FFFFFF;color: #000000;}

.show {display:block;}

.swacktalk {
	position: relative;
	text-align: center;
	width: 790px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
.swacktalk img {
	height: 100%;
}

.swacktext {
	text-align: left;
	position: absolute;
	font-size: 28px;
	width: 100%;
	top: 24%;
	left: 12%;
}
.swacktext p {
	color: #ffffff;
	text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
#swacktalk_huge {
	font-size: 50px;
}

/* comic frames (new)*/
.new_comicgrid {
	display: flex;
	flex-direction: row-gap;
	justify-content: center;
}

.new_comicbox {
	display: inline-block;
	min-width: 300px;
	max-width: 300px;
	height: 415px;
}

.new_comicbox p {
	font-size: 32px;
}
.new_comicbox_mobile {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.new_comicbox_mobile p {
	font-size: 90px;
}
#new_comicbottom_mobile {
	margin-bottom: 56px;
}
#new_comictop {
	min-height: 78px;
	display: grid;
    align-items: center;
}
.new_comicframe {
	position:relative;
	width: 85%;
	aspect-ratio: 1 / 1;
}
#new_comicimg {
	position: static;
	width: 73%;
	aspect-ratio: 1 / 1;
	background-size: 100% 100%;
	margin-top: 12%;
}
#new_new {
	position: absolute; 
	width: 100%;
	margin-left: -12%;
	aspect-ratio: 1 / 1;
	background-size: 100% 100%;
}
#new_frameregular {
	background-image: url("/img/comicframe.png");
	background-size: 100% 100%;
}
#new_frameregular:hover {
	background-image: url("/img/comicframe-on.png");
}
#new_framerecent {
	background-image: url("/img/comicframenew.png");
	background-size: 100% 100%;
}
#new_framerecent:hover {
	background-image: url("/img/comicframenew-on.png");
}

/* grids */

.grid div{
    width:20vw;
    height:20vw;
    margin-right:1vw;
    margin-bottom:2vw;
    position: relative;
    background-image: url("/img/comicframe.png");
    background-size: 20vw 20vw;
}
.grid div:hover{
    background-image: url("/img/comicframe-on.png");
}
.grid table {
    margin-left: auto;
    margin-right: auto;
}
.grid div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.grid tr {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.grid p {
    font-size: 2vw;
}
#pbottom {
    margin-top:-12%;
    margin-bottom: 12%;
}
#pbottom2 {
    margin-top:-8%;
    margin-bottom: 20%;
}
.grid div a img {
    position: absolute;
    top: 13.3%;
    left: 13.9%;
}

/* recent comic */

.recent div{
    width:20vw;
    height:20vw;
    margin-right:1vw;
    margin-bottom:2vw;
    position: relative;
    background-image: url("/img/comicframenew.png");
    background-size: 20vw 20vw;
}
.recent div:hover{
    background-image: url("/img/comicframenew-on.png");
}
.recent table {
    margin-left: auto;
    margin-right: auto;
}
.recent div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.recent tr {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.recent p {
    font-size: 2vw;
}
.recent a {
    text-decoration: none; color:#FFFFFF;
}
.recent div a img {
    position: absolute;
    top: 13.3%;
    left: 13.9%;
}
#new {
    background-image: url('/img/new.png');
    background-size: 20vw 20vw;
}

.mobiletable {
    display: none;
}

/* comics */

#curcomic {
    display: none;
}

.comicdiv {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 640px;
    overflow: auto;
}
.comicdiv img {
    width: 100%;
    height: 100%;
    min-width: 50%;
}

/* comic buttons */

.prevnext {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}
.prevnext table {
    align-self: center;
}
.prevnext div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.prevnext tr {
    display: table-row;
    margin-left: auto;
    margin-right: auto;
}
.prevnext a {
    background-size: 200px auto;
    background-repeat: no-repeat;
    text-decoration: none;
    display:inline-block;
    height: 70px;
    width: 200px;
}
#prev {
    background-image: url("/img/prev.png");
}
#prev:hover {
    background-image: url("/img/prev-on.png");
}
#next {
    background-image: url("/img/next.png");
}
#next:hover {
    background-image: url("/img/next-on.png");
}

/* download buttons */

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
}
.download table {
    align-self: center;
}
.download div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.download tr {
    display: table-row;
    margin-left: auto;
    margin-right: auto;
}
.download a {
    background-size: 300px auto;
    background-repeat: no-repeat;
    text-decoration: none;
    display:inline-block;
    height: 52px;
    width: 300px;
}

.mobiledownload {
    display: none;
}

#pdf {
    background-image: url("/img/downloadpdf.png");
}
#fla {
    background-image: url("/img/downloadfla.png");
}

.funnyimg {
	width: 400px;
}

/* trivia css */

.trivia-grid div {
    width:740px;
    height:180px;
}
#triviaback {
	width:500px;
	height:180px;
    background-image: url("/img/triviaframe.png");
    background-size: 100% 100%;
	position: relative;
}
.trivia-grid table {
    margin-left: auto;
    margin-right: auto;
}
.trivia-grid div {
    margin-left: auto;
    margin-right: auto;
}
.trivia-grid tr {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.trivia-grid p {
    position: absolute;
    font-size: 24px;
    text-align: left;
    width: 88%;
    height: 100%;
    top: 32%;
    left: 6%;
}
.pc-trivia {
	display: inline-block;
}
.mobile-trivia {
	display: none;
}

.yellow-border {
	border: 5px solid #ffb812;
}

/* news css */
#news-container {
	position: relative;
	margin: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	text-align: left;
	min-height: 32px;
	background-color: rgba(0,0,0,.6);
	margin-left: auto;
	margin-right: auto;
}
#news-container a {
	color: #ffb812;
	text-decoration: underline;
}
#news-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	padding: 12px;
}

#news-container .big-text {
	color: #ffb812;
	font-size: 40px;
}
#news-container .medium-text {
	font-size: 28px;
}
#news-container .small-text {
	color: #bf1123;
	font-size: 24px;
}
#newsdate {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
}

/* socials */
.email-box {
	background-color: rgba(0,0,0,0.6);
	width:410px;
	height:100px;
	margin-top: 16px;
}

.social {
	height: 96px;
	background-size: 96px 96px;
	flex-basis: 96px;
}

#social1 {
	background-image: url("/img/social/social_yt.png");
}
#social1:hover {
	background-image: url("/img/social/social_yt_hover.png");
}
#social2 {
	background-image: url("/img/social/social_itch.png");
}
#social2:hover {
	background-image: url("/img/social/social_itch_hover.png");
}
#social3 {
	background-image: url("/img/social/social_bsky.png");
}
#social3:hover {
	background-image: url("/img/social/social_bsky_hover.png");
}
#social4 {
	background-image: url("/img/social/social_ng.png");
}
#social4:hover {
	background-image: url("/img/social/social_ng_hover.png");
}

/* text types */

.big-text {
    font-size: 60px;
}
.medium-text {
    font-size: 30px;
}
.small-text {
    font-size: 15px;
}

.yellow-text {
	color: #ffb812;
}

/* mouse position follower */
#mousediv {
  position: fixed;
  transition: transform 0.01s;
  pointer-events: none;
  z-index: 100;
}

/* mobile/width stuff */

@media only screen and (max-width: 1020px) {
    .left-border {
        display: none;
    }
    .right-border {
        display: none;
    }
}

@media only screen and (max-width: 1080px) {
    .dropdown-content {
        left: 230px;
    }
}

@media only screen and (max-width: 870px) {
    .dropdown-content {
        left: 170px;
    }
}

@media only screen and (max-width: 660px) {
    .dropdown-content {
        left: 130px;
    }
}

@media only screen and (hover: none) and (pointer: coarse){
    body {
		width: 100vw;
		font-size: 48px;
	}
	.left-border {
        display: none;
    }
    .right-border {
        display: none;
    }
	
    .dropdown-content {
        left: 130px;
    }

	.toptitle-big {
		width: 60%;
		margin-bottom:20px;
	}
	.toptitle-small {
		width: 60%;
		margin-bottom:0px;
	}

    .bottom p {
        font-size: 40px;
    }

	.swacktalk {
		width: 100%;
		height: auto;
	}
	.swacktext {
		left: 13%;
		width: 70%;
		font-size: 34px;
	}
	#swacktalk_huge {
		font-size: 60px;
	}

    .pctable {
        display: none;
    }
    .mobiletable {
        display: block;
    }
    .grid div{
        margin-left: auto;
        margin-right: auto;
    }
    .recent div{
        margin-left: auto;
        margin-right: auto;
    }
    .grid p {
        font-size: 42px;
    }
    .grid div{
        width:50vw;
        height:50vw;
        background-size: 50vw 50vw;
    }
    .recent p {
        padding-top: 4%;
        font-size: 42px;
    }
    .recent div{
        width:50vw;
        height:50vw;
        background-size: 50vw 50vw;
    }
    #new {
        background-size: 50vw 50vw;
    }
    #pbottom{
        margin-top:-4%;
    }
    .dropdown-content a {
        font-size: 2vw;
    }
    .main {
        width:100%;
    }
    .comicdiv {
        width: 540px;
    }
    .prevnext a {
        text-align: left;
    }
    .download a {
        text-align: left;
    }
    .pcdownload {
        display: none;
    }
    .mobiledownload {
        width: 800px;
        display: block;
        margin-top: 76px;
        margin-bottom: 70px;
    }
    .download a {
        background-size: 500px auto;
        height: 100px;
        width: 500px;
    }
	
	.funnyimg {
		width: 90%;
	}
	
    .trivia-grid p {
        font-size: 36px;
    }
    .trivia-grid div{
        width:800px;
        height:300px;
    }
	#triviaback{
        width:800px;
        height:300px;
        background-size: 100% 100%;
    }
	
	.pc-trivia {
		display: none;
	}
	.mobile-trivia {
		display: inline-block;
	}
	
    .header {
      height: 105px;
    }
    .not-logo {
      padding-right: 24px;
      width: 105px;
      height: auto;
    }
	#header1 {
		width: 210px;
	}
	
    .dropdown-content {
        width: 70%;
        height: 300px;
    }
    .dropdown-content a {
        width: 100%;
        height: 70px;
        font-size: 40px;
    }
    .prevnext {
        width: 350px;
        height: 130px;
    }
    .prevnext a {
        width: 350px;
        height: 130px;
        background-size: 350px auto;
    }
    .comicdiv {
        width: 100%;
    }
    .big-text {
        font-size: 90px;
    }
    .medium-text {
        font-size: 60px;
    }
    .small-text {
        font-size: 50px;
    }
	
	#swacktalk {
		width: 100%;
		min-width: 100%;
	}
	
	#news-container{
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 12px;
		width: 90%;
	}
	
	#newstitle {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
	#news-container img {
		padding: 8px;
		width: 96%;
		min-width: 96%;
	}
	
	#newsdate {
		display: none;
	}
	
	.email-box {
		width:80%;
		height:140px;
	}
	
	.email-box img {
		width:130px;
		height:130px;
	}
	
	.social {
		height: 150px;
		background-size: 150px 150px;
		flex-basis: 150px;
	}

	
	#404 {
		width: 90%;
		max-width: 90%;
	}
}

/* font */

@font-face {
    font-family: 'pinkchicken';
    src: url('./font/PinkChicken-Regular.ttf')  format('truetype');
    src: url('./font/PinkChicken-Regular.woff') format('woff');
}